.mx-6 {
    margin-left: 6rem;
    margin-left: 6rem;
}

.mt-7 {
    margin-top: 7rem;
}

.PPT-60 {
    font-size: 60px;
    font-family: "SwedenSans", Georgia; 
    font-weight: bold;
    letter-spacing: 8%;
    line-height: 70%;
}

.font-color1 { 
    color: #669BBB;
}

.Sabores {
    font-size: 100px;
    font-family: "SwedenSans", Georgia; 
    font-weight: bold;
    color: #2E4654;
    line-height: 95%;
    letter-spacing: 10%;
    padding-left: 1rem;
}

.AsPobeirasBeach {
    font-size: 100px;
    font-family: "SwedenSans", Georgia; 
    font-weight: bold;
    color: #2E4654;
    letter-spacing: 10%;
    line-height: 80%;
}

.AsPobeirasNata {
    font-size: 100px;
    font-family: "SwedenSans", Georgia; 
    font-weight: bold;
    color: #580F11;
    letter-spacing: 10%;
    line-height: 80%;
}

.AsPobeirasAle {
    font-size: 100px;
    font-family: "SwedenSans", Georgia; 
    font-weight: bold;
    color: #B01F21;
    letter-spacing: 10%;
    line-height: 80%;
}

.cerveja-sabor {
    height: 753.03px;
    width: auto;
}
.active {
    color: #E69900;
}

body {
    background-image: url('./images/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 982px;
}

.ms-auto { 
    font-size: 22px; 
    font-family: "SwedenSans", Georgia; 
    font-weight: bold;}

.gap-2 {
    font-size: 20px;
    font-family: "SwedenSans", Georgia; 
    font-weight: bold;
}

.Pobeiras {
    font-size: 70px;
    font-family: "SwedenSans", Georgia; 
    font-weight: bold;
    color: #4D748C;
    margin-top: 150px;
    margin-left: 10px;
}

.Pobeiras-banner {
    font-size: 30px;
    font-family: "SwedenSans", Georgia; 
    font-weight: bold;
    color: #E69900;
    margin-top: 150px;
}


.Subtitulo_Pobeiras {
    font-size: 30px;
    font-family: "SwedenSans", Georgia; 
    font-weight: bold;
    color: #2E4654 !important;
}

/*Stout*/
.Pobeiras-bannerST {
    font-size: 30px;
    font-family: "SwedenSans", Georgia; 
    font-weight: bold;
    color: #E69900;
    margin-top: 150px;
}


.Subtitulo_PobeirasST {
    font-size: 30px;
    font-family: "SwedenSans", Georgia; 
    font-weight: bold;
    color: #440C0D !important; 
}

/*Ale Carnation*/
.Pobeiras-bannerAC {
    font-size: 30px;
    font-family: "SwedenSans", Georgia; 
    font-weight: bold;
    color: #C32225;
    margin-top: 150px;
}


.Subtitulo_PobeirasAC {
    font-size: 30px;
    font-family: "SwedenSans", Georgia; 
    font-weight: bold;
    color: #440C0D;
}


.Subtitulo_Pobeiras_Azul {
    font-size: 30px;
    font-family: "SwedenSans", Georgia; 
    font-weight: bold;
    color: #2E4654;
    margin-bottom: 70px;
}

.button-svg-left {
    background-image: url(../assets/images/SiglaButtonLeft.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    padding: 30px;
    background-color: transparent;
    margin-top: 7rem;
    margin-right: 2rem;
}

.button-svg-right {
    background-image: url(../assets/images/SiglaButtonRight.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    padding: 30px;
    background-color: transparent;
    margin-top: 7rem;
    margin-left: 2rem;
}

/* Stout Buttons*/

.button-svg-left-st {
    background-image: url(../assets/images/SiglaButtonLeftST.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    padding: 30px;
    background-color: transparent;
    margin-top: 7rem;
    margin-right: 2rem;
}

.button-svg-right-st {
    background-image: url(../assets/images/SiglaButtonRightST.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    padding: 30px;
    background-color: transparent;
    margin-top: 7rem;
    margin-left: 2rem;
}

/* Ale Carnation Buttons*/

.button-svg-left-ac {
    background-image: url(../assets/images/SiglaButtonLeftAC.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    padding: 30px;
    background-color: transparent;
    margin-top: 7rem;
    margin-right: 2rem;
}

.button-svg-right-ac {
    background-image: url(../assets/images/SiglaButtonRightAC.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    padding: 30px;
    background-color: transparent;
    margin-top: 7rem;
    margin-left: 2rem;
}

.BannerPPT {
    font-size: 60px;
    font-family: "SwedenSans", Georgia; 
    font-weight: bold;
    color: #E8F0F5;
    padding-top: 40px;
}

.Vamos-isto {
    font-size: 30px;
    font-family: "SwedenSans", Georgia; 
    font-weight: bold;
    color: #E8F0F5;
    border: none;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
    padding-top: 100px;
    transition: 0.3s;
    border: #E8F0F5 0px;
}

.Vamos-isto:hover {
    border: #E8F0F5 3px;
}

.Vamos-isto img {
    padding-left: 10px;
}

.imagem-PPE{
    float: left;
    width: 950px;
}

.banner-rotativo {
    font-size: 60px;
    background-color: #6F7062;
    color: #414139;
    font-family: "SwedenSans", Georgia;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
}

.marq-text {
    padding-left: 20px;
}

footer {
    background-color: #E69900;
    background-image: url(../assets/images/footer-siglas.png);
    color: #FFF2D9;
}

.button-footer-homepage-ig {
    background-image: url(../assets/images/ig-footer-homepage.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    padding: 25px;
    background-color: transparent;
    margin-right: 10px;
}

.button-footer-homepage-yt {
    background-image: url(../assets/images/yt-footer-homepage.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    padding: 25px;
    background-color: transparent;
    margin-right: 10px;
}

.button-footer-homepage-in {
    background-image: url(../assets/images/in-footer-homepage.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    padding: 25px;
    background-color: transparent;
}

.button-footer-homepage-fb {
    background-image: url(../assets/images/fb-footer-homepage.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    padding: 25px;
    background-color: transparent;
    margin-right: 10px;
}

.pick-city {
    font-family: "SwedenSans", Georgia !important;
    font-weight: bold !important;
    font-optical-sizing: auto !important;
    font-size: 30px !important;
    color: #669BBB !important;
    padding-top: 10px;
    border-radius: 0px !important;
}


.botao-email {
    background-image: url(../assets/images/botão-homepage-footer.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    padding-top: 32px;
    padding-left: 84px;
    background-color: transparent;
    color: transparent;
}

.breadcrumb {
    font-family: "Noto Sans JP", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: regular;
    font-style: normal;
    font-size: 20px;
    padding-top: 10px;
}

.breadcrumb-item a {
    font-family: "Noto Sans JP", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: bold;
    color: #4D748C;
    font-style: none;
    text-decoration: none;
    font-size: 20px;
    margin-right: 15px;
    margin-bottom: 20px;
    opacity: 0.5;
    transition: 0.3s;
}

a:hover {
    opacity: 1;
}




.banner-ig {
    overflow: hidden;
    display: flex;
}

.Corpo {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: regular;
    font-style: normal;
    font-size: 20px;
}

.Pobeiras2 {
    font-size: 60px;
    font-family: "SwedenSans", Georgia; 
    font-weight: bold;
    color: #4D748C;
    margin-left: 10px;
}

.button-svg-left1 {
    background-image: url(../assets/images/siglaButtonVibeL.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: transparent;
    margin-right: 10px;
}

.button-svg-right1 {
    background-image: url(../assets/images/siglaButtonVibeR.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    background-color: transparent;
    margin-left: 10px;
}

.Pick-Vibe {
    font-size: 60px;
    font-family: "SwedenSans", Georgia; 
    font-weight: bold;
    color: #2E4654;
    margin-top: 20px;
}

.img-banner {
    height: 450px;
    width: auto;
}

/*Button animations*/ 

footer {
    background-color: #E69900;
    background-image: url(/assets/images/footer-siglas-contactos.png);
    background-repeat: no-repeat;
    background-position: center;
    color: #FFE5B0;
  }
  
  .button-footer-homepage-ig {
    background-image: url(/assets/images/ig-footer-homepage.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    padding-left: 12px;
    background-color: transparent;
    margin-right: 20px;
  }
  
  .button-footer-homepage-yt {
    background-image: url(/assets/images/yt-footer-homepage.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    padding-left: 12px;
    background-color: transparent;
    margin-right: 20px;
  }
  
  .button-footer-homepage-in {
    background-image: url(/assets/images/in-footer-homepage.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    padding-left: 12px;
    background-color: transparent;
  }
  
  .button-footer-homepage-fb {
    background-image: url(/assets/images/fb-footer-homepage.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    padding-left: 12px;
    background-color: transparent;
    margin-right: 20px;
  }
  
  .breadcrumb {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: regular;
    font-style: normal;
    font-size: 16px;
  }
  
  .breadcrumb-item {
    text-decoration: none;
    color: #ffffff;
    margin-right: 15px;
  }
  
  .Pobeiras2 {
    font-size: 30px;
    font-family: "SwedenSans", Georgia;
    font-weight: bold;
    color: #4d748c;
  }
  
  .caixa-email {
    width: 60%;
    height: 34px;
    border: 3px solid #FFF2D9;
    background-color: #FFE5B0;
    color: #E69900;
    font-family: "SwedenSans", Georgia;
    font-weight: bold;
    font-size: 18px;
  }
  
  .botao-email {
    background-image: url(../assets/images/botão-homepage-footer_1.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    padding-top: 6px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 22px;
    background-color: transparent;
    color: transparent;
  }
  

  .NotoSans-Corpo18 {
    font-family: "Noto Sans JP", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: regular !important;
    font-style: normal !important;
    font-size: 18px !important;
  }
  