.ms-auto {
    font-size: 22px;
    font-family: "SwedenSans", Georgia;
    font-weight: bold;
  }
  
  .NavBar {
    background-image: url("/images/hero-contactos.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: auto;
  }
  
  .PPT {
    font-size: 100px;
    font-family: "SwedenSans", Georgia;
    font-weight: bold;
  }
 
  .PPT-100 {
    font-size: 100px;
    font-family: "SwedenSans", Georgia;
    font-weight: bold;
  }

  .PPT-70 {
    font-size: 70px;
    font-family: "SwedenSans", Georgia;
    font-weight: bold;
  }
  
  .PPT-43 {
    font-size: 43px;
    font-family: "SwedenSans", Georgia;
    font-weight: bold;
  }
  
  .PPT-20 {
    font-size: 20px;
    font-family: "SwedenSans", Georgia;
    font-weight: bold;
  }
  
  .NotoSans-Corpo {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: regular;
    font-style: normal;
    font-size: 24px;
  }
  
  .NotoSans-Corpo18 {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: regular;
    font-style: normal;
    font-size: 18px;
  }

  .Cor-font-1 {
    color: #777777;
  }

  .Cor-font-2 {
    color: #E4E4E4;
  }

  .Cor-font-3 {
    color: #A8A8A8;
  }


  .background-form-serviços {
    background-image: url(/assets/images/background-serviços.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
  }
  
  .img-form {
    height: 650px;
    width: auto;
  }
  
  .img-corpo {
    height: 450px;
    width: auto;
  }

  
.caixa-form {
  width: 100%;
  height: 35px;
  border: 3px solid #F6F6F6;
  background-color: #A8A8A8;
  color: #414139;
  font-family: "SwedenSans", Georgia;
  font-weight: bold;
  font-size: 18px;
}

.botao-form {
  background-image: url(/assets/images/botão-contactos-form.png);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  padding-top: 4px;
  padding-bottom: 5px;
  padding-left: 17px;
  padding-right: 16px;
  background-color: transparent;
  color: transparent;
}

body {
  overflow-x: hidden;
}

  /*//////////////////////////////Botão Icon ///////////////////////////////////////////*/

  .botão-icon {
    margin-right: 20px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    padding: 21px;
    opacity: 0.3;
    transition: 0.3s;
  }
 
  .botão-icon:hover {
    opacity: 1;
  }

  /*////////////////////////////////FORM /////////////////////////////////////*/

  
footer {
  background-color: #777777;
  background-image: url(/assets/images/footer-siglas-contactos.png);
  background-repeat: no-repeat;
  background-position: center;
  color: #F6F6F6;
}

.button-footer-homepage-ig {
  background-image: url(/assets/images/ig-footer-homepage.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  padding-left: 12px;
  background-color: transparent;
  margin-right: 20px;
}

.button-footer-homepage-yt {
  background-image: url(/assets/images/yt-footer-homepage.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  padding-left: 12px;
  background-color: transparent;
  margin-right: 20px;
}

.button-footer-homepage-in {
  background-image: url(/assets/images/in-footer-homepage.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  padding-left: 12px;
  background-color: transparent;
}

.button-footer-homepage-fb {
  background-image: url(/assets/images/fb-footer-homepage.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  padding-left: 12px;
  background-color: transparent;
  margin-right: 20px;
}

.breadcrumb {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: regular;
  font-style: normal;
  font-size: 16px;
}

.breadcrumb-item {
  text-decoration: none;
  color: #ffffff;
  margin-right: 15px;
}

.Pobeiras2 {
  font-size: 30px;
  font-family: "SwedenSans", Georgia;
  font-weight: bold;
  color: #4d748c;
}

.caixa-email {
  width: 60%;
  height: 34px;
  border: 3px solid #F6F6F6;
  background-color: #A8A8A8;
  color: #777777;
  font-family: "SwedenSans", Georgia;
  font-weight: bold;
  font-size: 18px;
}

.botao-email {
  background-image: url(/assets/images/botão-contactos-footer.png);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  padding-top: 6px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 22px;
  background-color: transparent;
  color: transparent;
}


