.Sabores {
    font-size: 100px;
    font-family: "SwedenSans", Georgia; 
    font-weight: bold;
    color: #2E4654;
}

.AsPobeirasBeach {
    font-size: 200px;
    font-family: "SwedenSans", Georgia; 
    font-weight: bold;
    color: #2E4654;
}

.cerveja-sabor {
    height: 753.03px;
    width: auto;
}
.active {
    color: #E69900;
}

body {
    background-image: url('./images/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 982px;
}

li { 
    font-size: 32px; 
    font-family: "SwedenSans", Georgia; 
    font-weight: bold;}

.gap-2 {
    font-size: 20px;
    font-family: "SwedenSans", Georgia; 
    font-weight: bold;
}

.Pobeiras {
    font-size: 60px;
    font-family: "SwedenSans", Georgia; 
    font-weight: bold;
    color: #4D748C;
}

.Subtitulo_Pobeiras {
    font-size: 30px;
    font-family: "SwedenSans", Georgia; 
    font-weight: bold;
    color: #E69900;
}

.Subtitulo_Pobeiras_Azul {
    font-size: 30px;
    font-family: "SwedenSans", Georgia; 
    font-weight: bold;
    color: #2E4654;
    margin-bottom: 70px;
}

.button-svg-left {
    background-image: url(../assets/images/SiglaButtonLeft.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    padding: 32px;
    background-color: transparent;
    margin-right: 50px;
}

.button-svg-right {
    background-image: url(../assets/images/SiglaButtonRight.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    padding: 32px;
    background-color: transparent;
    margin-left: 50px;
}

.BannerPPT {
    font-size: 60px;
    font-family: "SwedenSans", Georgia; 
    font-weight: bold;
    color: #E8F0F5;
}

.Vamos-isto {
    font-size: 30px;
    font-family: "SwedenSans", Georgia; 
    font-weight: bold;
    color: #E8F0F5;
    border: none;
    cursor: pointer;
    padding: 32px;
    background-color: transparent;
    margin-left: 50px;
}